.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  overflow: auto;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
h1 {
  text-align: center;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.category .material-icons {
  color: black;
  font-size: 50px;
  margin-bottom: 15px;
}
.category:hover .material-icons{
  color: white;
}
.category:hover {
  background: rgb(34, 151, 247);
  color: white;
}
.score {
  margin-top: 10px;
  font-size: 24px;
}

.category .category_score {
  /*background: rgb(25, 107, 199);*/
  background: black;
  border-radius: 6px;
  padding: 3px;
}

.category:hover .category_score {
  background: white;
  border-radius: 6px;
  padding: 3px;
}