footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(34, 151, 247);
  min-height: 40px;
  flex-shrink: 0;
  color: white;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 300px) {
  footer {
    font-size: 18px;
  }
}
