header {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgb(34, 151, 247);
  height: 50px;
  flex-shrink: 0;
  color: white;
}
.header-title {
  align-self: center;
  font-weight: bold;
  margin-left: 10px;
  font-size: 24px;
}

#theme-button {
  position: relative;
  background: white;
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  border: solid 3px white;
}

#theme-button:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: black;
}