header {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgb(34, 151, 247);
  height: 50px;
  flex-shrink: 0;
  color: white;
}
header .button {
  position: relative;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
header .button:hover::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 10px;
  background: white;
}
.header-title {
  align-self: center;
  font-weight: bold;
  margin-left: 10px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}
.header-title:hover {
  color: rgba(255, 255, 255, 0.6);
}


.outer-theme-button {
  margin-left: auto;
  margin-right: 20px;
  position: relative;
}

#theme-button {
  position: relative;
  background: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  
  border: solid 3px white;
  border: none !important;

  box-shadow: inset 0px 0px 0px 3px black;
}

#theme-button:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: black;
}

.outer-theme-button:hover:before {
  content: 'Toggle Dark Mode';
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 4px;
  font-size: 12px;
  width: 80px;
  right: 0;
  top: 45px;

}

.header-profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.header-profile .button {
  margin-right: 0;
}
.header-profile .username {
  font-size: 14px;
  text-align: center;
}
.header-profile .button {
  opacity: 0.6;
  margin-top: 0;
}
.header-profile .button:hover {
  opacity: 1;
}

@media (max-width: 425px) {
  .header-title {
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  .header-title {
    font-size: 14px;
  }
}