.container {
  width: 70%;
  align-self: center;
  margin-bottom: 20px;
}
.question {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  color: black;
  background-color: white;
}



.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  color: black;
  text-decoration: underline;
}

/* .question.correct {
  background-color: rgba(0, 128, 0, 0.3);
}
.question.missing {
  background-color: rgba(128, 128, 128, 0.3);
}
.question.incorrect {
  background-color: rgba(255, 0, 0, 0.3);
} */
.question .header {
  color: white;
  display: flex;
  flex: 1;
  border-radius: 8px;
  padding: 5px;
  text-transform: capitalize;
}
.question .header.correct {
  background-color: rgb(0, 128, 0);
}
.question .header.missing {
  background-color: rgb(128, 128, 128);
}
.question .header.incorrect {
  background-color: rgb(255, 0, 0);
}




.question p {
  margin: 10px;
}


.code,
code {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 4px;
  padding-top: 0;
  padding-bottom: 0;
  color: black;
  border: solid 1px #404040; 
}
.answer {
  margin-bottom: 3px;
  margin-top: 3px;
}
.answer.correct {
  background: rgb(19, 255, 90);
  border-radius: 8px;
}
#textInput {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.2);
  color: black;
  border: none;
  padding: 10px;
  border-radius: 8px;
}
#textInput.short {
  width: 98px;  
}

#submitButton {
  align-self: flex-start;
  border: none;
  padding: 10px;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px;
}
#submitButton:hover {
  background: rgb(34, 151, 247);
  color: white;
}